---
import data from "../data/data.json";

let dataProfessional = data.dataProfessional;
let dataPersonal = data.dataPersonal;

---
<section id="sobre-mi" class="max-w-6xl m-16 px-8 mt-32 relative m">
  <!-- Fondo de vidrio -->
  <div class="absolute inset-0 bg-white/5 backdrop-blur-lg rounded-3xl -z-10 border border-white/10"></div>

  <div class="grid md:grid-cols-2 gap-10 py-16 px-10">

    <div>
      <h3 class="text-3xl font-semibold mb-4 text-[#00b4ff]">Sobre mí</h3>
      <div style="display: flex; align-items: center; gap: 24px;">
      <img class="no-show-movil" src="https://avatars.githubusercontent.com/u/48415689?v=4" alt="Grimaldi Cuaical Gomez" width="140" style="border-radius: 14%;" />
      <div style="text-align: left;">
        <h1 style="margin: 0 0 10px 0; text-align: left;"><strong>{dataPersonal.name}</strong></h1>
          <p style="margin-top: 0;" class="space-y-2 text-neutral-400">
            <strong>{dataProfessional.profession}</strong><br>
              💻 {dataProfessional.descripcion}<br>
              📍 {dataProfessional.location} 
            <div class="p-2" style="display: flex; gap: 8px; align-items: center;">
            <a href="https://co.linkedin.com/in/grimaldicg" target="_blank">
              <img src="https://img.shields.io/badge/LinkedIn--0A66C2?style=flat&logo=linkedin&logoColor=white" alt="LinkedIn Profile" />
            </a>
            <a href="https://github.com/grimaldi2706" target="_blank">
              <img src="https://img.shields.io/badge/GitHub--181717?style=flat&logo=github&logoColor=white" alt="Perfil GitHub">
            </a>
            </div>
          </p>
      </div>
    </div>
  </div>

    <div>
      <h4 class="text-lg font-semibold mb-3 text-[#00b4ff]">Enfocado a:</h4>
      <ul class="space-y-2 text-neutral-400">
        {dataProfessional.experiencia.map(item => (
          <li>{item}</li>
        ))}
      </ul>
    </div>
  </div>
</section>
